@import "bootstrap-honoka/scss/bootstrap";

body {
  font-family: "M PLUS Rounded 1c";
}

.blog {
  img {
    max-height: 50vh;
    max-width: 100%;
    display: block;
    margin: 1em 0;
  }
  h1 {
    margin-top: 2em;
    border-bottom: dotted 1px;
  }
}

#insta {
  .Nnq7C {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;-ms-flex-direction:row;
    flex-direction:row;
    display: flex;
  }
  .Nnq7C>* {
    -webkit-box-flex:1;-webkit-flex:1 0 0%;-ms-flex:1 0 0%;flex:1 0 0%
  }
}

