---
title: blog #{year}
---
ruby:
  require 'open-uri'
  def preload_images(body)
    url_patterns =[
      '(http://chisou\.typepad\.jp/\.a/([0-9a-f]+)-[0-9a-z]+)',
      '(http://chisou\.typepad\.jp/blog/images/(\w+)\.jpg)',
      '(http://chisou\.typepad\.jp/photos/\w+/20../../../(\w+)\.jpg)'
    ]
    url_patterns.each do |regex|
      body = body.gsub(%r|<a [^>]+><img [^>]+#{regex}[^>]+/></a>|) do
        url, hash = $1, $2
        file_name = "#{hash}.jpg"
        local_path = "source/images/#{file_name}"
        unless File.exists?(local_path)
          open(url) {|img| File.open(local_path, 'w') {|f| f.write img.read}}
        end
        image_tag file_name
      end
    end
    body
  end

- data.blog.select{|a| Date.parse(a['date']).year == year}.sort_by{|a| a['date']}.each do |article|
  - date = Date.parse(article.date)
  h2
    a href="##{date}" = article.title
  p.date = date
  - body = preload_images article.body
  = body
  hr
