---
title: top
---
javascript:
  fetch('.netlify/functions/insta', {
      headers: {
        'max-age': 600
      }  
    })
    .then(res=>res.text())
    .then(res=>{
      const insta = document.getElementById("insta") 
      , json = JSON.parse(res)
      , html = json.map(e=>{
        return `<div class="col-4"><a href="https://www.instagram.com${e.href}"><img class="w-100" src="${e.src}" srcset="${e.srcset}"} /></a></div>`
      })
      insta.childNodes[1].remove()
      insta.childNodes[0].insertAdjacentHTML('afterbegin', html.join(''))
    })

  window.fbAsyncInit = function() {
    FB.init({
      appId            : '2601034189912187',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
    FB.api(
      '/kokookuda.page', 'GET',
      {
        "access_token": "EAAk9oHbwOHsBAHEOD4TKMyjQyfrJddOVUvdXOPDQi2CvnkzfiUquiZBejPJhLZB3DK8CJsi3VIULzyZCyAGXXUKGeYwh1ZC2W7uXK8b6ckCm3dWzEZAiIjenODt5qK9iyUZBkXW5caYGpopKwM8FIkIkAfb2vyZCgZBjO60ADt3iWzAZCdRgddfywuqolaNZBp8XoZD",
        "fields":"posts.limit(10){created_time,permalink_url,full_picture,link,picture,story,message}"
      },
      function(response) {
        const data = response.posts.data
        , el = document.getElementById('fb-page')
        , tmpl = el.querySelector('template').content.childNodes[0]
        response.posts.data.forEach(p=>{
          const node = tmpl.cloneNode(true) //deep
          if(p.picture){
            node.querySelector('a.photo').href = p.link
            node.querySelector("img").src = p.full_picture
          }else{
            node.querySelector('a.photo').remove()
          }
          if(p.message){
            node.querySelector('.card-text').textContent = p.message
          }else{
            node.querySelector('.card-body').remove()
          }
          const d = new Date(p.created_time.replace("+0000", "Z"))
          , aTag = node.querySelector('.card-header a')
          aTag.href = p.permalink_url
          aTag.text = `${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()}`
          el.appendChild(node)
        })
      }
    );
  };
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

scss:
  #cover {
    background-color: inherit;
    position: relative;
    & > * {
      filter: drop-shadow(1px 1px 3px white);
    }
  }
  #cover::before {
    content: "";
    background-image: url(image_path('cover.jpg'));
    background-size: cover;
    background-position: center; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.75;
  }

.container
  #cover.jumbotron
    h1.display-4 koko okuda
    p.lead I cook and teach Japanese and Italian home cooking at my studio or other locations, design delicious recipes, as well as study and write about food in Japan and abroad.
    p.lead 和食とイタリア家庭料理の料理教室や、レシピ制作、出張教室、出張料理、食に関する企画や記事執筆などを、国内外問わずご縁を頂き実施しております。
    p.lead 奥田ここ

.container
  section.mt-5
    p
      ' If you would like to find out more about what I do, or would like to collaborate or discuss a commission, please
      a href="mailto:kokookuda.info@gmail.com" contact me
      | .
    p
      ' Follow me on
      a> href="https://www.instagram.com/kokookuda" Instagram
      ' or
      a> href="https://www.facebook.com/kokookuda.page" Facebook
      | for information about upcoming cooking classes, recipes, snaps of food markets I visit, tips about seasonal ingredients and more!
    p
      | Please also have a look at my
      a>< href="#blog" blog
      | where I’ve been writing about my many interests since 2006.

    p
      | 料理教室のお知らせやレシピ掲載、市場のあれこれ、愛用食材など、最新情報は
      a href="https://www.instagram.com/kokookuda" Instagram
      | や
      a href="https://www.facebook.com/kokookuda.page" Facebook
      | で発信しています。
    p
      | 2006年から執筆していた
      a href="#blog" blog
      | も合わせてお目通しください。


.container.mt-5
  h2 Instagram
  #insta.gallery
    .row
    div = partial("insta")

.container.mt-5
  .row
    .col
      section#twitter.section
        a class="twitter-timeline" data-height=500 href="https://twitter.com/KokoOkuda?ref_src=twsrc%5Etfw" Tweets by KokoOkuda
        script async=true src="https://platform.twitter.com/widgets.js" charset="utf-8"
    .col
      .header style="padding: 10px"
        h2 style="font-size:27px; line-height: 36px;" Facebook
      #fb-page style="height: 445px; overflow-y: auto"
        template
          .card.mb-3
            .card-header.text-muted
              a
            .card-body
              p.card-text
            a.photo
              img.card-img-top

.container.mt-5
  h2#blog Chisou/馳走 blog Archives
  p
    = "| "
    - (2006..2017).reverse_each do |year|
      a href="/blog/#{year}.html" = year
      = " | "

